In [1]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_csv("dataset_Facebook.csv", delimiter=";")

In [32]:
dfPhoto = df[df.Type == 'Photo']
dfStatus = df[df.Type == 'Status']
dfLink = df[df.Type == 'Link']
dfVideo = df[df.Type == 'Video']

In [33]:
dftotal = df.describe().loc[["count","mean","min","max"]]
dfPhotoTotal = dfPhoto.describe().loc[["count","mean","min","max"]]
dfStatusTotal = dfStatus.describe().loc[["count","mean","min","max"]]
dfLinkTotal = dfLink.describe().loc[["count","mean","min","max"]]
dfVideoTotal = dfVideo.describe().loc[["count","mean","min","max"]]

In [34]:
columns = list(dftotal.columns)

In [35]:
Mode = pd.Series(name="mode")
dftotal = dftotal.append(Mode)
dfPhotoTotal = dfPhotoTotal.append(Mode)
dfStatusTotal = dfStatusTotal.append(Mode)
dfLinkTotal = dfLinkTotal.append(Mode)
dfVideoTotal = dfVideoTotal.append(Mode)

In [36]:
for i in list(dftotal.columns):
    dftotal[i]["mode"] = np.array(df[i].mode(),object)
    dfPhotoTotal[i]["mode"] = np.array(dfPhoto[i].mode(),object)
    dfStatusTotal[i]["mode"] = np.array(dfStatus[i].mode(),object)
    dfLinkTotal[i]["mode"] = np.array(dfLink[i].mode(),object)
    dfVideoTotal[i]["mode"] = np.array(dfVideo[i].mode(),object)

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Anaconda\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Anaconda\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [37]:
dftotal

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,500.000,500.00,500.000,500.00,500.00,499.000000,500,500,500.000,500,500,500,500,500.000,500.000,499.000000,496,500
mean,123194.176,1.88,7.038,4.15,7.84,0.278557,13903.4,29585.9,920.344,798.772,1415.13,16766.4,6585.49,609.986,7.482,177.945892,27.2661,212.12
min,81370.000,1.00,1.000,1.00,1.00,0.000000,238,570,9.000,9,9,567,236,9.000,0.000,0.000000,0,0
max,139441.000,3.00,12.000,7.00,23.00,1.000000,180480,1.11028e+06,11452.000,11328,19779,1.10783e+06,51456,4376.000,372.000,5172.000000,790,6334
mode,136393.000,1.00,10.000,7.00,3.00,0.000000,"[677, 2232, 2645, 2938, 3322, 3358, 3414, 3528...","[4372, 6503, 7004, 8533, 8745, 12735]",537.000,"[182, 298, 319, 322, 335, 374, 482, 503, 513, ...","[431, 513, 599, 652, 719, 730, 795, 889]","[1210, 1284, 2541, 2888, 3675, 4911, 4935, 501...","[690, 704, 1228, 1640, 1674, 1722, 2044, 2124,...",403.000,0.000,98.000000,"[13.0, 14.0]","[0, 39, 75]"

In [38]:
dfPhotoTotal

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,426.000000,426.00000,426.000000,426.000000,426.000000,425.00,426,426,426.000000,426,426,426,426,426.000000,426.000000,425,422.000000,426
mean,122354.171362,1.91784,6.805164,4.107981,7.997653,0.28,13137.8,28994.5,818.946009,690.432,1299.03,16422.5,6059.1,507.305164,7.492958,182.612,27.158768,216.58
min,81370.000000,1.00000,1.000000,1.000000,1.000000,0.00,238,570,9.000000,9,9,567,236,9.000000,0.000000,0,0.000000,0
max,139441.000000,3.00000,12.000000,7.000000,23.000000,1.00,180480,1.11028e+06,11452.000000,11328,19779,1.10783e+06,51456,3430.000000,372.000000,5172,790.000000,6334
mode,124940.000000,1.00000,10.000000,7.000000,3.000000,0.00,"[677, 2232, 2938, 3322, 3358, 3414, 3528, 3754...","[4372, 6503, 7004, 8533, 8745, 12735]",537.000000,"[298, 319, 335, 374, 482, 503, 513, 642]","[431, 513, 599, 652, 719, 730, 795, 889]","[1210, 1284, 2541, 2888, 3675, 4911, 4935, 501...","[690, 704, 1228, 1640, 1674, 1722, 2044, 2124,...",403.000000,0.000000,"[7.0, 79.0, 98.0]",14.000000,"[0, 39]"

In [39]:
dfStatusTotal

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,45.000000,45.000000,45.000000,45,45.000000,45.000000,45,45,45,45,45.000000,45,45,45,45,45,45,45
mean,132647.044444,2.022222,9.066667,4.57778,7.244444,0.222222,13078.9,24244.5,2040.22,1949.56,2838.866667,18664.3,9908.58,1719.84,8.91111,176.711,31.4222,217.044
min,104070.000000,1.000000,3.000000,1,2.000000,0.000000,3930,7509,128,86,112.000000,5009,2410,101,0,13,1,17
max,139441.000000,3.000000,12.000000,7,15.000000,1.000000,31136,59964,6164,5934,9237.000000,37849,21352,4376,60,859,123,1009
mode,139441.000000,2.000000,12.000000,"[5, 7]",10.000000,0.000000,"[3930, 6692, 8260, 8284, 8488, 8628, 8728, 889...","[7509, 13092, 14305, 14759, 14847, 15104, 1529...","[128, 130, 135, 199, 304, 870, 908, 951, 997, ...","[86, 108, 119, 126, 286, 843, 847, 861, 937, 9...",1692.000000,"[5009, 7549, 9562, 9684, 10266, 11710, 11970, ...","[2410, 3336, 5180, 5244, 5372, 6112, 6796, 702...","[101, 123, 126, 156, 291, 740, 774, 843, 924, ...","[2, 4]","[86.0, 99.0, 129.0, 227.0]","[1.0, 13.0, 18.0, 36.0]","[117, 121]"

In [40]:
dfLinkTotal

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22,22,22.000000,22.000000,22,22,22,22,22.000000,22,22.000000,22.000000
mean,116363.181818,1.136364,6.590909,4.272727,5.727273,0.272727,18544.6,28725.5,342.818182,292.681818,374.091,11148.6,6544.36,210.545,2.818182,73.3182,12.909091,89.045455
min,85979.000000,1.000000,1.000000,1.000000,2.000000,0.000000,1536,3094,24.000000,23.000000,26,2307,1180,19,0.000000,5,0.000000,6.000000
max,138895.000000,3.000000,12.000000,7.000000,14.000000,1.000000,70912,229733,1374.000000,1106.000000,1345,42338,27232,788,15.000000,379,44.000000,420.000000
mode,138353.000000,1.000000,12.000000,6.000000,3.000000,0.000000,"[1536, 1925, 2645, 2933, 3454, 3616, 4664, 493...","[3094, 3481, 4270, 5144, 5808, 6853, 6887, 791...",66.000000,322.000000,"[26, 70, 71, 97, 99, 118, 126, 130, 170, 223, ...","[2307, 2330, 2903, 3972, 4263, 6282, 6625, 673...","[1180, 1377, 1407, 2012, 2138, 3100, 3324, 349...","[19, 58, 59, 76, 77, 92, 93, 101, 106, 138, 15...",0.000000,"[12.0, 32.0]",2.000000,14.000000

In [41]:
dfVideoTotal

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,7.000000,7.0,7.000000,7,7.000000,7.000000,7,7,7,7,7,7,7,7,7,7,7.000000,7
mean,135014.857143,1.0,9.571429,3.57143,8.714286,0.571429,51205.7,102622,1707,1584.71,2600.14,43149.9,17386.3,979.429,12.2857,231.429,52.142857,295.857
min,126424.000000,1.0,6.000000,2,2.000000,0.000000,13544,30235,459,411,539,21436,9568,363,2,65,13.000000,81
max,138895.000000,1.0,12.000000,6,13.000000,1.000000,139008,277100,3872,3822,7327,107502,38720,2218,23,449,121.000000,550
mode,137893.000000,1.0,11.000000,"[2, 3]",11.000000,1.000000,"[13544, 16416, 21872, 30624, 36208, 100768, 13...","[30235, 31950, 40413, 56950, 61262, 220447, 27...","[459, 517, 1141, 1779, 2080, 2101, 3872]","[411, 458, 1068, 1643, 1735, 1956, 3822]","[539, 667, 1728, 2331, 2356, 3253, 7327]","[21436, 24667, 26622, 30131, 32033, 59658, 107...","[9568, 11760, 12920, 14112, 15744, 18880, 38720]","[363, 447, 559, 885, 1008, 1376, 2218]","[2, 18]","[65.0, 99.0, 143.0, 204.0, 315.0, 345.0, 449.0]",13.000000,"[81, 114, 174, 271, 409, 472, 550]"

In [54]:
df.sort_values(by="Total Interactions", ascending=False).reset_index().iloc[0,1:]

Page total likes                                                       130791
Type                                                                    Photo
Category                                                                    2
Post Month                                                                  7
Post Weekday                                                                3
Post Hour                                                                   5
Paid                                                                        1
Lifetime Post Total Reach                                              180480
Lifetime Post Total Impressions                                        319133
Lifetime Engaged Users                                                   8072
Lifetime Post Consumers                                                  4010
Lifetime Post Consumptions                                               6242
Lifetime Post Impressions by people who have liked your Page           108752
Lifetime Post reach by people who like your Page                        51456
Lifetime People who have liked your Page and engaged with your post      3316
comment                                                                   372
like                                                                     5172
share                                                                     790
Total Interactions                                                       6334
Name: 0, dtype: object